<div class="container">
  <ul>
    <li *ngFor="let product of products">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>This Dog 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain.
          </p>
        </mat-card-content>
        <mat-card-actions class="shopingcard">

          <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput type="number" placeholder="Ex. San Francisco">
          </mat-form-field>
          <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>

