<div class="site-content" style="margin-top: 300px;">
  <div class="forecast-table">
  <div class="container">
    <div class="forecast-container">
      <div class="today forecast">
        <div class="forecast-header">
          <div class="day">{{ today | date: 'EEEE' }}</div>
          <div class="date">{{ today | date: 'dd LLL' }}</div>
        </div> <!-- .forecast-header -->
        <div class="forecast-content">
          <!-- Задача 1 Подставить значение с инпута  -->
          <div class="location">Lviv</div>
          <div class="degree">
            <div class="num">{{ weather?.main?.temp | number:'1.0-0' }}<sup>o</sup>C</div>
            <div class="forecast-icon">

              <!-- Задача - 2 Подставить ПРАВИЛЬНУЮ иконку (1-14)         -->
              <img [src]="'http://openweathermap.org/img/w/' + weather.weather[0].icon + '.png'" alt="" width=90>
            </div>
          </div>
          <span><img src="assets/images/icon-umberella.png" alt="">{{ weather?.main?.humidity }}%</span>
          <span><img src="assets/images/icon-wind.png" alt="">{{ weather?.wind?.speed }}km/h</span>
          <span><img src="assets/images/icon-compass.png" alt="">East</span>
        </div>
      </div>
      <div *ngFor="let day of forecast; let i = index" class="forecast">
        <div class="forecast-header">
          <!--    TODO: Правильно подставить день      -->
          <div class="day">Tuesday</div>
        </div> <!-- .forecast-header -->
        <div class="forecast-content">
          <div class="forecast-icon">
            <!-- Задача - 2 Подставить ПРАВИЛЬНУЮ иконку (1-14)         -->
            <img [src]="'http://openweathermap.org/img/w/' + day.weather[0].icon + '.png'" alt="" width=48>
          </div>
          <div class="degree">{{ day.main.temp_max | number:'1.0-0'}}<sup>o</sup>C</div>
          <small>{{ day.main.temp_min | number:'1.0-0' }}<sup>o</sup></small>
        </div>
      </div>
    </div>
  </div>
</div>
