<h1 mat-dialog-title style="color: white">Добавьте новый товар и данные о нём</h1>
<form [formGroup]="formGroup" (submit)="onSubmit()">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Name Product</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>URL image</mat-label>
      <input matInput formControlName="img">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price">
    </mat-form-field>
    <br>

  </div>
  <div class="btns">
  <mat-dialog-actions>
    <button type="submit" mat-raised-button  mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button  mat-dialog-close>Add</button>
  </mat-dialog-actions>
  </div>
</form>

