table {
  width: 90%;
  margin: auto;
  border: 1px solid grey;
  border-collapse: collapse;
}
th,td {
  border: 1px solid grey;
  text-align: center;
  padding: 5px;
}
.add{
  margin-left: 70px;
  margin-top: 10px;
}
input.ng-touched.ng-invalid{
  border-color: red;
}
