<button mat-raised-button color="primary" (click)="openDialog()" class="add">Add product</button>
<br><br>

<table >
  <thead>
  <tr>
    <th> №</th>
    <th>Name Product</th>
    <th>Image</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Update</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody *ngFor="let product of products; let i=index">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <td> {{ i + 1 }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <td> {{ product.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="img">
    <td><img [src]="product.img" width="75" height="100"></td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="description">
    <td> {{ product.description }}</td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <td> {{ product.quantity}}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <td> {{ product.price}}</td>
  </ng-container>
  <ng-container matColumnDef="remove">
    <td>
      <button mat-flat-button color="accent" (click)="updateProduct(product, i)">
        <mat-icon>update</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="remove">
    <td>
      <button (click)="deleteProduct(product)" mat-fab color="primary">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>
  </tbody>
</table>


<mat-sidenav-container>
<mat-sidenav #sidenav mode="push" (opened)="log ('opened')" (closed)="log ('closed')" [(opened)]="opened">Sidenav</mat-sidenav>
<mat-sidenav-content>Main
  <button (click)="opened=!opened">toggle</button>
  <button (click)="sidenav.open()">open</button>
  <button (click)="sidenav.close()">close</button>
  <button (click)="sidenav.toggle()">toggle</button>
</mat-sidenav-content>
</mat-sidenav-container>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item>hello</button>
  <button mat-menu-item>good buy</button>
</mat-menu>
<button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
