
<div class="container">
  <mat-card style="padding: 30px">
    <form>
      <mat-card-title>Sign in</mat-card-title>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter your name</mat-label>
          <input matInput  [formControl]="userName" required>
          <mat-error *ngIf="userName.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" required [formControl]="password">
          <mat-error *ngIf="password.invalid">{{getErrorPassword()}}</mat-error>
          <mat-hint align="end">forgot password?</mat-hint>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

        </mat-form-field>
      </div>
      <div class="check">
        <mat-checkbox>
          Remember me
        </mat-checkbox>
      </div>
      <div>
        <button class="btn" type="submit" mat-raised-button color="primary">Sign in</button>
      </div>
    </form>
    <br>
    <div class="mat-subheading-2" align="center">Or sign in</div>
    <div class="social">
      <div>
        <button mat-stroked-button style="width: 140px; height: 60px; color: white">
          <img src="assets/images/icons8-facebook-48.png" alt=""> <span style="color: white">Facebook</span>
        </button>
        <button mat-stroked-button style="width: 140px; height: 60px; color: white; margin-left: 10px">
          <img src="assets/images/icons8-google-48%20(1).png" alt=""> <span style="color: white">Google</span>
        </button>
      </div>
    </div>
  </mat-card>
</div>


