.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 50px;
  max-width: 1200px;

}

mat-card-title {
  color: white;
  margin-left: 100px;
}

.mat-form-field {
  margin-top: 20px;
  width: 300px;
}

.btn {
  width: 300px;
  margin-top: 20px;
}

.social {
  display: flex;
  justify-content: center;

  .mat-fab {
    margin: 0 40px;
  }

}

