<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="Your name" [formControl]="name" required>
      <mat-error *ngIf="name.invalid">{{getErrorMessage('name')}}</mat-error>
    </mat-form-field>
  <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button>No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
