.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.login {
  width: 100%;
  display: flex;
  justify-content: space-between;

  span {
    margin-right: 15px;
  }
}

.login a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
}

