<table>
  <thead>
  <tr>
    <th> №</th>
    <th>Name Product</th>
    <th>Image</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody *ngFor="let product of products">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <td> {{product.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <td> {{product.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="img">
    <td><img [src]="product.img" width="75" height="100"></td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="quantity">
    <td> {{ product.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <td> {{product.price}} </td>
  </ng-container>

  <ng-container matColumnDef="subtotal">
    <td> {{product.price * product.quantity }} $</td>
  </ng-container>
  <ng-container matColumnDef="remove">
    <td>
      <button mat-fab color="primary" (click)="deleteProduct(product)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>
  </tbody>
  <tfoot >
      <td colspan="5"  style="text-align: end"><b>Total : </b></td>
      <td >{{getTotalCost() }} $ </td>
      <td>
        <button mat-raised-button color="basic" (click)="openDialog()">BUY</button>
      </td>

  </tfoot>

</table>






