/* CUSTOM FONT DECLARATIONS
 ******************************/

@font-face {
  font-family: 'Museo-100';
  src: url('./assets/fonts/font-awesome.min.css');
  font-weight: normal;
  font-style: normal;
}

/* Set up a default font and some padding to provide breathing room */
body,
h1,
h2,
h3,
h4,
h5,
p,
em,
dt,
strong {
  color: #5e6d80;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
